.reservation__form {
	padding: 3.2rem;
	box-shadow: 0 35px 80px -35px #000;
	color: $primary-gray;
	background-color: #fff;
	text-align: center;

	.form-group {
		margin-bottom: 3.2rem;
	}

	label {
		font-size: 1.8rem;
		display: inline-block;
		// padding-bottom: 0.8rem;
	}

	input {
		border: none;
		border-bottom: 1px solid #8e8e8e;
		width: 100%;
		padding-bottom: 1.6rem;
		font-size: 1.8rem;
	}

	input:focus {
		outline: none;
		border-color: $primary-gray;
	}

	.name,
	.email {
		padding-left: 1.6rem;
		padding-right: 1.6rem;
	}

	.date,
	.time {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding-top: 0.8rem;

		input {
			width: 30%;
			text-align: center;
			display: inline-block;
		}
	}

	.custom-select-wrapper {
		position: relative;
		user-select: none;
		width: 27%;
	}
	.custom-select {
		position: relative;
		display: flex;
		flex-direction: column;
		// border-width: 0 2px 0 2px;
		// border-style: solid;
		// border-color: #394a6d;
	}
	.custom-select__trigger {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 1rem 1.6rem;
		font-size: 1.8rem;
		height: 45px;
		line-height: 60px;
		cursor: pointer;
		border-bottom: 1px solid #8e8e8e;
	}
	.custom-options {
		position: absolute;
		display: block;
		top: 100%;
		left: 0;
		right: 0;
		box-shadow: 0 0 12px -5px #000;
		background: #fff;
		transition: all 0.5s;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		z-index: 2;
	}
	.custom-select.open .custom-options {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
	.custom-option {
		position: relative;
		display: block;
		padding: 1rem 2.2rem 1rem 3.7rem;
		cursor: pointer;
		transition: all 0.5s;
	}
	.custom-option:hover {
		cursor: pointer;
		background-color: #b2b2b2;
	}
	.custom-option.selected::before {
		content: url(../../../images/icons/icon-check.svg);
		position: absolute;
		left: 16px;
	}

	.arrow {
		width: 16px;
		height: 8px;
	}

	.party-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #8e8e8e;
		padding: 0 2rem 1.6rem;

		img {
			cursor: pointer;
			padding: 1rem;
		}

		.party {
			display: inline-block;
			font-weight: $bold;
			padding-bottom: 0;
			font-size: 1.8rem;
		}
	}

	.btn {
		padding: 1.8rem 3.5rem;
		width: 100%;
	}

	.error-msg {
		display: none;
		padding-top: 0.5rem;
		font-size: 1rem;
		color: #b54949;
	}

	.error .error-msg {
		display: block;
	}

	.error label {
		color: #b54949;
	}

	.error input {
		border-color: #b54949;
		color: #b54949;
	}

	.error input::placeholder {
		color: #b54949;
		opacity: 0.5;
	}
}

@include tablet {
	.reservation__form {
		.form-group--inline {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
		}

		.date,
		.time {
			width: 70%;
		}

		.name + .error-msg,
		.email + .error-msg {
			text-align: left;
			padding-left: 1.6rem;
		}

		.error-inline {
			position: absolute;
			top: 30px;
		}
	}
}

@include desktop {
	.reservation__form {
		padding: 4.8rem;
		width: 540px;
	}
}
