html {
	font-size: 62.5%;
}

body {
	font-family: $spartan;
	font-size: 1.5rem;
	color: $text-primary;
	line-height: 1.6;

	@include tablet {
		font-size: 1.8rem;
	}
}

h1,
h2,
h3 {
	line-height: 1.25;
}

h1 {
	font-size: 3.2rem;
	font-weight: $light;

	@include tablet {
		font-size: 4.8rem;
	}

	@include desktop {
		font-size: 6.4rem;
	}
}

h2 {
	font-size: 3.2rem;
	font-weight: $bold;

	@include tablet {
		font-size: 4rem;
	}

	@include desktop {
		line-height: 1.4;
	}
}

h3 {
	font-size: 1.8rem;
	font-weight: $bold;
}

p {
	@include desktop {
		line-height: 1.8;
	}
}
